.circle{
    border-radius:100%;
    border:10px solid goldenrod;
    width:20%;
    height:30%;
    margin-left: 40%;
    margin-top: 10%;
    animation-name: example;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes example {
    from {
        border-color: goldenrod;
    }
    to {
        border-color: silver;
        border-radius: 1%;
        animation-name: example2;
    }
  }


  @keyframes example2 {
    from {
        border-radius: 1%;
    }
    to {
        border-color: goldenrod;
        border-radius: 100%;
    }
  }