/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.center{
    text-align: center
}

.w-100{
    width: 100%;
}

.w-75{
    width: 75%;
}

.m-top-10{
    margin-top: 10%;
}
.h-100{
    height: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
